/* You can add global styles to this file, and also import other style files */
:root {
  --color-oscuro: #3A332C;
  --color-principal: #976B3C;
  --color-claro: #E3B795;
  --color-acento: #F96500;
  --color-verde: #005949;
  --color-fondo: #D7C5B8;
  --color-secundario: #DCD0E4;

  --color-text: #3f3f3f;
  --color-oscuro2: #1d1d1d;
}

body {
  margin: 0; 
  background-size: 15rem;
  background-attachment: fixed;
  font-family: TT Drugs, sans-serif;
  background-color: var(--color-verde);
  background-image: url('/xv.png');
}